        body {
            margin: 0;
            font-family: Arial, sans-serif;
            padding:0;
        }
        .navbar {
            background-color: #4fc1f6;
            overflow: hidden;   
        }
        .navbar a {
            float: left;
            display: block;
            color: white;
            font-size:x-large;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #3bbcf8;
        }
        .navbar .right {
            float: right;
        }

        img{
            width:1248px;
            height: 500px;
        }