<div class="welcome-container">

  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="logo">EmployeeHub</div>
    <div class="nav-links">
      <a routerLink="/register">Register</a>
      <a routerLink="/login" class="login-btn">Login</a>
    </div>
  </nav>

  <!-- HERO SECTION -->
  <div class="hero">
    <div class="hero-content">
      <h1>Welcome to EmployeeHub</h1>
      <p>
        A modern Employee Management System to manage, monitor
        and organize your workforce efficiently.
      </p>

      <div class="hero-buttons">
        <a routerLink="/register" class="primary-btn">Get Started</a>
        <a routerLink="/login" class="secondary-btn">Login</a>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>