body {
            margin: 0;
            font-family: Arial, sans-serif;
            padding:0;
        }
        .footer {
            background-color: #4fc1f6;
            color: white;
            padding: 5px;
            text-align: center;
            position: relative;
            font-size:large;
            margin:0;
        }
        .footer a {
            color: #fff;
            text-decoration: none;
        }
        .footer a:hover {
            text-decoration: underline;
        }
