<div class="register-container">
        <div class="register-box">
            <h2>Register</h2>
            <form [formGroup]="employee" (ngSubmit)="register()">
                <input type="text" placeholder="Full Name" name="name" formControlName="name" required>
                <span *ngIf="employee.get('name')?.invalid && employee.get('name')?.touched">Invalid Name !</span>
                <input type="email" placeholder="Email" name="email" formControlName="email" required>
                <span *ngIf="employee.get('email')?.invalid && employee.get('email')?.touched">Invalid Email !</span>
                <input type="password" placeholder="Password" name="password" formControlName="password" required>
                <span *ngIf="employee.get('password')?.invalid && employee.get('password')?.touched">Invalid Password !</span>
                <br><br>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

    <app-footer></app-footer>