        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Arial, sans-serif;
        }
        .register-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #9adcfa;
        }
        .register-box {
            background-color: white;
            padding: 20px;
            border-radius: 2px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .register-box h2 {
            margin-bottom: 20px;
        }
        .register-box input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .register-box button {
            width: 100%;
            padding: 10px;
            background-color: #4fc1f6;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .register-box button:hover {
            background-color: #3bbcf8;
        }

        span{
            color:red;
        }